Repository lunchpaillola/pailkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-headers, pytest-check

.pre-commit-config.yaml:

# Python pre-commit hooks for PailKit
repos:
  # Black - Python code formatter
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3.12
        files: ^api/|^flow/|^mcp/

  # Ruff - Fast Python linter and import sorter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]  # Fix all issues including import sorting
        files: ^api/|^flow/|^mcp/

  # MyPy - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        files: ^api/
        args: [--explicit-package-bases, --config-file=api/mypy.ini, --follow-imports=silent]
        additional_dependencies:
          - fastapi>=0.104.1
          - uvicorn>=0.24.0
          - pydantic>=2.8.0
          - python-dotenv>=1.0.0
          - httpx>=0.25.0
          - pytest>=7.4.0
          # Flow dependencies needed because api/main.py imports from flow
          - mcp>=0.1.0
          - langgraph==0.2.40
          - pipecat-ai[daily,openai,local-smart-turn-v3]>=0.0.94
          - Pillow>=10.0.0
          - resend>=2.0.0
          - cryptography>=42.0.0

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # License header check
  - repo: local
    hooks:
      - id: check-license-headers
        name: Check License Headers
        entry: python3 scripts/check_license_headers.py
        language: system
        files: \.py$
        description: "Check that Python files have Apache 2.0 license headers"

  # Run your tests (regular tests only, not integration tests)
  # Integration tests are skipped by default (require RUN_INTEGRATION_TESTS=true)
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: bash scripts/run_tests.sh
        language: system
        files: ^api/
        pass_filenames: false
        always_run: false

Add Sentry error tracking and monitoring
  api/env.example
  api/main.py
  api/mypy.ini
  api/requirements.txt
  flow/env.example
  flow/main.py
Due: check-license-headers, pytest-check

Update branding to PailFlow and fix fly.toml port conflict
  flow/hosting/meeting.html
  fly.toml
Due: none

Update remaining PailKit reference to PailFlow in meeting.html
  flow/hosting/meeting.html
Due: none

Update documentation: rename Add-ons to Tools and restructure introduction
  docs/mintlify/docs.json
  docs/mintlify/introduction.mdx
  docs/mintlify/support/plans.mdx
Due: none

Update logo files for documentation
  docs/mintlify/logo/dark.png
  docs/mintlify/logo/dark.svg
  docs/mintlify/logo/light.png
  docs/mintlify/logo/light.svg
Due: none

Refactor documentation structure and content
  docs/mintlify/bubble/daily/getting-started.mdx
  docs/mintlify/introduction.mdx
Due: none

Update introduction description for clarity and consistency
  docs/mintlify/introduction.mdx
Due: none

Fix Deepgram STT implementation to match reference pattern
  flow/db.py
  flow/env.example
  flow/main.py
  flow/requirements.txt
  flow/scripts/create_room_with_bot.py
  flow/scripts/manage_daily_webhooks.py
  flow/scripts/view_database.py
  flow/scripts/view_transcript.py
  flow/steps/interview/bot_service.py
  flow/steps/interview/create_room.py
  flow/steps/interview/join_bot.py
  flow/steps/interview/process_transcript.py
  flow/workflows/ai_interviewer.py
  flow/workflows/one_time_meeting.py
  workers/src/index.ts
Due: check-license-headers

Add embeddable PailFlow meeting widget
  flow/hosting/embed.js
  flow/hosting/test-embed.html
  flow/main.py
  shared/auth/unkey_middleware.py
Due: check-license-headers

Fix webhook router production deployment and make FLOW_WEBHOOK_DEV_BASE_URL optional
  flow/main.py
  flow/requirements.txt
  flow/scripts/create_room_with_bot.py
  flow/steps/interview/bot_service.py
  flow/steps/interview/create_room.py
  flow/steps/interview/extract_insights.py
  flow/steps/interview/generate_summary.py
  flow/steps/interview/process_transcript.py
  flow/workflows/ai_interviewer.py
  workers/src/index.ts
Due: check-license-headers

Fix flow implementation - all changes working
  flow/main.py
  flow/scripts/create_room_with_bot.py
  flow/scripts/view_database.py
  flow/steps/interview/create_room.py
  flow/steps/interview/extract_insights.py
  flow/steps/interview/generate_summary.py
  flow/steps/interview/process_transcript.py
  flow/workflows/one_time_meeting.py
Due: check-license-headers

Fix webhook 500 errors: Always return 200 OK to prevent Daily.co retries
  flow/main.py
  flow/steps/interview/bot_service.py
  flow/steps/interview/join_bot.py
  flow/workflows/ai_interviewer.py
Due: check-license-headers

Reorganize demos and remove VAPI-related code
  flow/demos/create_room_with_bot.py
  flow/scripts/check_room_curl.sh
  flow/scripts/create_room_with_vapi.py
  flow/scripts/test_room_status.py
  flow/scripts/test_vapi_call_flow.py
  flow/scripts/test_vapi_pin_dialin.py
  flow/scripts/test_vapi_static_dial.py
Due: check-license-headers

Set minimum machines running to 1 for always-on availability
  fly.toml
Due: none

feat: Add Fly.io machine spawning for containerized bots
  flow/requirements.txt
  flow/steps/interview/bot.py
  flow/steps/interview/bot_service.py
  fly.toml
Due: check-license-headers

Remove all 'Simple Explanation' notes from flow/ directory
  flow/db.py
  flow/demos/create_room_with_bot.py
  flow/hosting/embed.js
  flow/main.py
  flow/scripts/manage_daily_phone_numbers.py
  flow/scripts/manage_daily_webhooks.py
  flow/steps/interview/base.py
  flow/steps/interview/bot.py
  flow/steps/interview/bot_service.py
  flow/steps/interview/call_vapi.py
  flow/steps/interview/conduct_interview.py
  flow/steps/interview/configure_agent.py
  flow/steps/interview/create_room.py
  flow/steps/interview/extract_insights.py
  flow/steps/interview/generate_questions.py
  flow/steps/interview/generate_summary.py
  flow/steps/interview/package_results.py
  flow/steps/interview/process_transcript.py
  flow/steps/interview/providers/base.py
  flow/workflows/ai_interviewer.py
  flow/workflows/one_time_meeting.py
Due: check-license-headers

Remove unused daily_utils.py file
  flow/steps/interview/daily_utils.py
Due: check-license-headers

Remove VAPI integration and clean up unused code
  flow/env.example
  flow/steps/interview/__init__.py
  flow/steps/interview/call_vapi.py
  flow/steps/interview/create_room.py
  flow/tests/test_one_time_meeting_vapi.py
  flow/workflows/ai_interviewer.py
  flow/workflows/one_time_meeting.py
Due: check-license-headers

Remove unused providers directory and duplicate workflow steps
  flow/steps/interview/providers/__init__.py
  flow/steps/interview/providers/base.py
  flow/workflows/ai_interviewer.py
Due: check-license-headers

Add lead qualification demo and fix extract_insights to preserve custom fields
  flow/demos/create_lead_qualification_room.py
  flow/steps/interview/extract_insights.py
Due: check-license-headers

Update demos to use TEST_EMAIL and TEST_NAME, fix email subjects
  flow/demos/create_lead_qualification_room.py
  flow/demos/create_room_with_bot.py
  flow/steps/interview/process_transcript.py
Due: check-license-headers

Add standalone demo server and Northbend Software demo page
  flow/demos/create_lead_qualification_room.py
  flow/demos/demo_server.py
  flow/hosting/demo.html
Due: check-license-headers

Fix import order in send_test_email.py
  flow/scripts/send_test_email.py
  flow/scripts/send_test_email_standalone.py
  flow/steps/interview/process_transcript.py
Due: check-license-headers

Improve JSON detection in email formatting
  flow/steps/interview/process_transcript.py
Due: check-license-headers

Remove JSON from lead qualification summary format
  flow/demos/create_lead_qualification_room.py
Due: check-license-headers

Remove recommendation section from lead qualification summary
  flow/demos/create_lead_qualification_room.py
Due: check-license-headers

Add Markdown to HTML conversion for email summaries
  flow/steps/interview/process_transcript.py
Due: check-license-headers

Complete Supabase migration: Remove SQLite, add all tables, update codebase
  RUN_ALL_TABLES_MIGRATION.md
  RUN_MIGRATION.md
  flow/db.py
  flow/env.example
  flow/requirements.txt
  flow/scripts/view_database.py
  flow/scripts/view_transcript.py
  flow/steps/interview/create_room.py
  flow/steps/interview/process_transcript.py
  supabase/.gitignore
  supabase/SCHEMA_OVERVIEW.md
  supabase/config.toml
  supabase/migrations/20251202170733_init_schema.sql
  supabase/migrations/20251202170734_add_all_tables.sql
Due: check-license-headers

Fix: Save all transcript processing results to database
  flow/steps/interview/process_transcript.py
Due: check-license-headers

Add script to fetch Daily.co meeting information
  flow/scripts/get_meeting_info.py
Due: check-license-headers

Add bot name 'Interviewer' to demo script for testing
  flow/demos/create_room_with_bot.py
Due: check-license-headers

Remove Sentry, fix GenerateSummaryStep import, update test script auth
  flow/demos/test_bot_api.py
  flow/main.py
  flow/steps/interview/process_transcript.py
Due: check-license-headers

feat: update daily bot functionality
  flow/demos/test_bot_api.py
  flow/main.py
  flow/steps/interview/bot_service.py
Due: check-license-headers

Add bot call workflow with LangGraph checkpoints support
  flow/db.py
  flow/demos/test_bot_api.py
  flow/main.py
  flow/requirements.txt
  flow/steps/interview/bot_service.py
  flow/workflows/__init__.py
  flow/workflows/bot_call.py
  supabase/migrations/20250115000001_add_langgraph_checkpoints.sql
Due: check-license-headers

Fix workflow resume error and email not found issue
  flow/db.py
  flow/main.py
  flow/steps/interview/bot_service.py
  flow/steps/interview/process_transcript.py
  flow/workflows/bot_call.py
  supabase/migrations/20250115000002_add_processing_status_by_key.sql
  supabase/migrations/20250115000003_add_workflow_threads_table.sql
Due: check-license-headers

feat: update daily bot functionality and database migrations
  flow/db.py
  flow/main.py
  flow/requirements.txt
  flow/steps/interview/bot_service.py
  flow/workflows/bot_call.py
Due: check-license-headers

Update daily bot functionality: modify db, bot_service, and bot_call workflow, add test_db_connection script
  flow/db.py
  flow/scripts/test_db_connection.py
  flow/steps/interview/bot_service.py
  flow/workflows/bot_call.py
Due: check-license-headers

Remove test_db_connection.py script
  flow/scripts/test_db_connection.py
Due: check-license-headers

Add checkpoint support to workflow threads
  flow/db.py
  flow/main.py
  flow/steps/interview/bot_service.py
  flow/workflows/bot_call.py
  supabase/migrations/20250115000004_add_checkpoint_id_to_workflow_threads.sql
Due: check-license-headers
